<u><h1 class="gameName"><%= @game.name %></h1></u>
<b>Difficulty:</b> <p class="gameDifficultyLevel"><%= @game.difficulty_level %></p>
<b>Fun Rating:</b> <p class="gameFunRating"><%= @game.fun_rating %></p>

<br><h4><u><b><i>Edit Game</i></u></b></h4>
<%= form_for @game do |f| %>
  <div class="editForm">
    <%= f.label :name %>:
    <%= f.text_field :name, placeholder: "enter name" %>
    <p><b>Select Difficulty: <%= f.select :difficulty_level, [['Hard'], ['Medium'], ['Easy']]  %></b></p>
    <p><b>Select Fun Rating: <%= f.select :fun_rating, [['High'], ['Average'], ['Low']]  %></b></p>
    <b><%= f.submit %></b>
  </div>
<% end %>

<br><h4><u><b><i>Select Opponent</i></u></b></h4>
<%= form_for (@game) do |f| %>
  <%= f.collection_select :player_ids, Player.not_me(current_player), :id, :name, :include_blank => "Computer" %>
<% end %><br>

<i><u><b><h4>Select a character to start the game:</i></u></b></h4>
<div class="initialCharacters">
  <% @game.characters.each do |character| %>
    <p></h4><li><%= link_to character&.name, game_character_path(character, game_id: @game) %></h4></p></li>
  <% end %>
  <ol>
  </ol>
</div>

<div id="gameResult">
  <h4 id="gameName"></h4>
  <h4 id="gameDifficultyLevel"></h4>
  <h4 id="gameFunRating"></h4>
</div>

<div class="gameCharacters">
</div>

<div id="characterName">
</div>

<br><i><u><b><h4>Create a Character</i></u></b></h4>

<%= form_for @character do |f| %>
  <div class="charForm">
    <%= f.hidden_field :player_id, value: current_player.id %>
    <%= f.text_field :name, placeholder: "enter name" %>
    <%=f.hidden_field :game_id, :value => @game.id %>
    <br><b><%= f.submit %></b>
  </div>
<% end %>

<br><br><br><br><b><button class="js-next" data-id="<%= @game.id %>">Next Game >></b></button>
<br><button class="gameEdit" data-id="<%= @game.id %>">Edit Game</button>
