<h1>Game: <%= @game.name %></h1>

<h3><%= link_to "Create a character", new_game_character_path(@character, game_id: @game) %><br></h3>
<%= link_to "Edit game", edit_game_path(@game) %>

<h3>Additional player?</h3>
<%= form_for (@game) do |f| %>
  <%= f.collection_select :player_ids, Player.not_me(current_player), :id, :name, :include_blank => true %>
<% end %>

<h3>Select a character to start the game:</h3>

<% @game.characters.each do |character| %>
  <p><%= link_to character.name, game_character_path(character, game_id: @game) %></p>
<% end %><br>
