<u><h1>Edit Profile</h1></u>

<%= form_for (@player) do |f| %>

  <b><p><%= f.label :age %>:</b>
  <%= f.text_field :age %></p>

  <p><b>Select skill level: <%= f.select :skill_level, [['High'], ['Medium'], ['Low']]  %></b></p>

  <p><%= f.submit %></p>
<% end %>
