<h1>Sign Up</h1>

<%= form_for (@player) do |f| %>
  <b><p><%= f.label :name %></b>
  <%= f.text_field :name %></p>
  <b><p><%= f.label :password %>:</b>
  <%= f.password_field :password %></p>
  <b><p><%= f.label :age %>:</b>
  <%= f.text_field :age %></p>
  <p><b>Select skill level: <%= f.select :skill_level, [['high'], ['medium'], ['low']]  %></b></p>
  <p><%= f.submit %></p>
<% end %>
