<h1>Sign Up</h1>

<%= form_for (@player) do |f| %>
  <b><p><%= f.label :name %>:</b>
  <%= f.text_field :name %></p>

  <b><p><%= f.label :password %>:</b>
  <%= f.password_field :password %></p>

  <p><b>Select skill level: <%= collection_select(:player, :skill_level, Player.all, :id, :skill_level, include_blank: true) %></b></p>

  <p><%= f.submit %></p>
<% end %>
