<u><h1>Profile</h1></u>

<p><h3>Name: <%= @player.name %></h3></p>

<p>Skill Level: <%= @player.skill_level %></p>

<p>Age: <%= @player.age %></p>

<p><%= link_to "View game selection", games_path %></p>

<p><%= link_to "Edit profile", edit_player_path(@player) %></p>
