<br><b><u><h1>Profile</h1></u></b>

<p><h3>Name: <%= @player.name %></h3></p>

<p><b>Skill Level: <%= @player.skill_level %></b></p>

<p><b>Age: <%= @player.age %></b></p>

<p><%= link_to "Edit your profile", edit_player_path(@player) %></p>

<br><b><u><h2>Character List</h2></b></u><br>

<!-- <% @player.characters.each do |character| %>
  <ul><b><%= character.name %></b></ul>
<% end %> -->

<div class="characterList">
</div>

<b><button class="playerCharacters" data-id="<%= @player.id %>">List Characters</button></b>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".playerCharacters").on("click", function() {
    let playerId = parseInt($(".playerCharacters").attr("data-id"))
    $.get("/players/" + playerId + ".json", function(data) {
       $(".characterList").html("")
      data["characters"].forEach(function(data){
        $(".characterList").append("<li>" + data.name + "</li>" + "<br>")
      })
    });
  });
})
</script>

<script>
$('.playerCharacters').on("click", event => {
  $(".characterList").toggle();
})
</script>

<script>
$('.playerCharacters').click(function() {
  $(this).hide()
})
</script>
